[submodule "bin/booking"]
path = bin/booking
url = git@github:nahana

[submodule "django-filter"]
path = src/django-filter
url = https://github.com/alex/django-filter.git

[submodule "django-haystack"]
path = src/django-haystack
url = https://github.com/toastdriven/django-haystack.git